<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.bofur"
    android:versionCode="1"
    android:versionName="1.0-SNAPSHOT" xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".SearchActivity" android:label="Поиск" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="Результат поиска" android:name="ResultActivity" android:screenOrientation="portrait"></activity>
        <activity android:label="Диплом" android:name="DegreeActivity" android:screenOrientation="portrait"></activity>
        <activity android:label="Факультеты" android:name=".entities.FacilitiesActivity" android:screenOrientation="portrait"></activity>
        <activity android:label="Кафедры" android:name=".entities.DepartmentsActivity" android:screenOrientation="portrait"></activity>
        <activity android:label="Специальности" android:name=".entities.SpecialitiesActivity" android:screenOrientation="portrait"></activity>
        <activity android:label="Студенты" android:name=".entities.StudentsActivity" android:screenOrientation="portrait"></activity>
        <activity android:label="Работы" android:name=".entities.DegreesActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>