<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.bofur"
    android:versionCode="1"
    android:versionName="1.0-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".SearchActivity" android:label="Поиск">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:label="Результат поиска" android:name="ResultActivity"></activity>
        <activity android:label="Диплом" android:name="DegreeActivity"></activity>
        <activity android:label="Факультеты" android:name="FacilitiesActivity"></activity>
        <activity android:label="Кафедры" android:name="DepartmentsActivity"></activity>
        <activity android:label="Специальности" android:name="SpecialitiesActivity"></activity>
        <activity android:label="Студенты" android:name="StudentsActivity"></activity>
        <activity android:label="Работы" android:name="DegreesActivity"></activity>
    </application>

</manifest>